.textQuote span {
  color: #000000;
  font-size: 14px;
  display: inline-block;
}
.textQuote {
  text-align: center;
  margin: 0 0 16px 0;
}
.inputEmail {
  width: 421px;
  height: 56px;
  border-bottom: 2px solid #cccccc;
  border-radius: 4px;
  -moz-border-radius: 4px; /*Firefox*/
  -webkit-border-radius: 4px; /*Chrome và Safary*/
}
.fgEmail {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 86px;
}
