.fgButton {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .description{
      margin-bottom: 225px !important;
  }
  .btnForgot {
      background-color: #F2F2F2 !important;
      border: 1px solid #D7D7D7;
  }
  .btnForgot span{
    color: #000000 !important;
}