.description {
    margin-bottom: 38px;
  }
  .inputText {
    width: 294px !important;
    height: 40px !important;
    border-bottom: 2px solid #cccccc;
  }
  .fgCfPass{
      margin-bottom: 88px !important;
  }
  .fgPassword{
      margin-bottom: 19px !important;
  }
  .fgButtonInputReset{
    margin-bottom: 40px !important;
  }
  .txtPasswordInput{
    color: #000000;
    font-size: 14px;
    margin-left: 75px;
  }
  .colLabelPass{
      padding: 5px 0 0 0;
  }
  .frmForgot{
      margin-top: 0 !important;
  }

  .errorMessageList {
    background-color: #FDF3F5;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    width: 620px;
    margin: 0 auto;
    border: 1px solid #D1232D;
    padding: 22px 0 32px 29px;
  }
  .errorMessageList span{
    color: #F20002;
    margin-bottom: 5px;
  }